<html xmlns="http://www.w3.org/1999/xhtml" ng-app="HiP4">
<head>
    <title>HiP4</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-uSbimwRPo7PKyTL6azsx1CcBce/X9Qg+wX1MAjNV1gAkSXYveZbZeMMyJghdsSol" crossorigin="anonymous">
    <base href="/" />
</head>
<body ng-controller="AccountController as account">
    <div class="container">
        <h1>HiP4</h1>
        <p>Higher Performance</p>
        <div class="bs-component">
            <ul class="nav nav-pills">
                <li> <a href="/">Home</a> </li>
                <li><a href="/about">About</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/secret">Secret</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/user">User</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/login" ng-show="!account.isLoggedIn()">Login</a></li>
                <li><a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a></li>

                <li>
            </ul>

            <div ng-show="account.isLoggedIn()">
                [{{account.getUserName()}}]
            </div>


        </div>
        <hr />

        <ui-view></ui-view>
    </div>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/firebase/firebase.js"></script>
    <script src="~/lib/angularfire/dist/angularfire.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
    @*<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>*@
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    
    <script src="~/ngapp/services/services.js"></script>
    <script src="~/ngApp/services/topicsService.js"></script>
    <script src="~/ngApp/services/postService.js"></script>

    <script src="~/ngApp/services/userService.js"></script>
    <script src="~/ngApp/services/replysService.js"></script>
    <script src="~/ngApp/services/firebaseSetup.js"></script>
    <script src="~/ngApp/controllers/topicController.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngApp/controllers/postController.js"></script>
    <script src="~/ngApp/controllers/replyController.js"></script>
    <script src="~/ngApp/controllers/CreatePostController.js"></script>
    <script src="~/ngApp/controllers/postToEditController.js"></script>
    <script src="~/ngApp/controllers/postDetailController.js"></script>
    <script src="~/ngApp/controllers/createReplyController.js"></script>
    <script src="~/ngApp/controllers/chatContoller.js"></script>
    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
