<h1>Create Reply</h1>
{{controller.replys}}
<div>
    <h4>{{controller.replys.title}}</h4>
    <h6>{{controller.replys.message}}</h6>
</div>

<form ng-submit="controller.saveReply1()">
    <div>
        <div class="form-group">
            <label for="title" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="controller.reply.title" />

            </div>

        </div>
    </div>
    <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Message</label>
        <div class="col-lg-10">
            <textarea class="form-control" rows="3" ng-model="controller.reply.message"></textarea>

        </div>
        <div ng-model="controller.reply.replyId" value="{{contoller.replies.replyId}}"></div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-6">
            <input class="btn btn-primary" type="submit" value="create" />
            <input class="btn btn-warning" type="button" ng-click="controller.cancel()" value="Cancel" />
        </div>
    </div>
</form>