<div class="bs-component">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Recent Posts</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="post in controller.post">
                <td>
                    <a href="posts/viewPost/{{post.id}}">Title: {{post.title}}</a><br />
                    Message: {{post.message}}<br />
                    <a href="posts/edit/{{post.id}}" class="btn btn-default btn-sm">Edit</a> 
                    <a href="posts/delete/{{post.id}}" class="btn btn-default btn-sm">Delete</a>
                    <button type="button" class="btn btn-default btn-sm" ng-click="controller.likePost()">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Like {{post.likes}}
                    </button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#demo{{post.id}}"><span class="glyphicon glyphicon-comment"></span> Comment</button>
                    <div id="demo{{post.id}}" class="collapse">
                        <form ng-submit="controller.createReply()">

                            <label for="reply">Reply</label>
                            <textarea class="form-control" id="reply" rows="3" ng-model="controller.replys.message"></textarea>
                            <input class="btn btn-primary" type="submit" value="Reply" />

                        </form>
                    </div>
                </td>
            </tr>
            

        </tbody>
    </table>

</div>




