<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Title: {{controller.post.title}}
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        User: {{controller.post.user}}<br />

                        Message: {{controller.post.message}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="controller.likePost()">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like {{controller.post.likes}}
                        </button>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-comment"></span> Comment</button>
                        <div id="demo" class="collapse">
                            <form ng-submit="controller.createReply()">

                                <label for="reply">Reply</label>
                                <textarea class="form-control" id="reply" rows="3" ng-model="controller.replys.message"></textarea>
                                <input class="btn btn-primary" type="submit" value="Reply" />

                            </form>
                        </div>
                    </td>
                </tr>


                <tr ng-repeat="reply in controller.reply">
                    <td>
                        <div class="col-md-12 col-md-push-10">
                            User: {{reply.user}}<br />
                            Reply: {{reply.message}}<br />
                            <button type="button" class="btn btn-default btn-sm" ng-click="controller.likeReply()">
                                <span class="glyphicon glyphicon-thumbs-up"></span> Like {{controller.reply.likes}}
                            </button>

                            <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#demo{{reply.id}}" ng-click="controller.getRepliesToReply(reply.id)"><span class="glyphicon glyphicon-comment"></span> Comment {{controller.repliedLength}}</button>
                            <div id="demo{{reply.id}}" class="collapse">
                                <table class="table-condensed">
                                    <tr ng-repeat="replied in controller.replied">
                                        <td>
                                            <div class="col-md-12 col-md-push-10">
                                                user:{{replied.user}}<br/>
                                                message: {{replied.message}}<br />
                                                <button type="button" class="btn btn-default btn-sm" ng-click="controller.likeReply()">
                                                    <span class="glyphicon glyphicon-thumbs-up"></span> Like {{controller.reply.likes}}
                                                </button>
                                                

                                               
                                                </div>
                                        </td>
                                    </tr>
                                </table>
                                <form ng-submit="controller.replyToReply(reply.id)">

                                    <label for="reply">Reply</label>
                                    <textarea class="form-control" id="reply" rows="3" ng-model="controller.replys.message"></textarea>
                                    <input class="btn btn-primary" type="submit" value="Reply" />

                                </form>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

